button {
    cursor: pointer;
}

.image-uploader {
    position: relative;
    width: 300px;
}

.dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s;
}

.dropzone.has-image {
    border-color: #4caf50;
}

.edit-overlay {
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
}

.btn {
    border: 0;
    padding: 2px 8px;
    border-radius: 5px;
    transition: all 200ms linear;
}

.btn:hover {
    transform: scale(1.1);
}

.btn-plus {
    color: #f2f2f2;
    background-color: #134b70;
}

.btn-plus:hover {
    background-color: #1b6597;
}

.btn-remove {
    color: #f2f2f2;
    background-color: #ff0000;
    margin-left: 10px;
}
